---
/* src/components/PhotoGrid.astro */
import 'glightbox/dist/css/glightbox.css';
import '../styles/glightbox-custom.css';
import { Image } from 'astro:assets';
import type { Image as ImageType } from '../data/galleryData';

interface Props {
	images: ImageType[];
}

const { images } = Astro.props;
---

<section id="photo-grid" class="container-custom py-12">
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-8 space-y-8">
		{
			images.map((image) => (
				<div class="break-inside-avoid">
					<a
						href={image.src.src}
						class="glightbox block transition-transform duration-500 hover:scale-[1.02]"
						data-gallery="gallery"
						data-glightbox={image.description ? `title: ${image.description}` : undefined}
					>
						<Image
							src={image.src}
							quality={85}
							format="webp"
							width={800}
							class="shadow-2xl rounded-sm"
							alt={image.title}
						/>
					</a>
				</div>
			))
		}
	</div>
</section>

<script>
	import '../scripts/photo-grid';
</script>	